/* Обнуление */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
html {
    background: linear-gradient(to right, #f8f8f8, #f4f4f4);
}
body {
    margin: 0px auto;
    width: 1440px;
	background: linear-gradient(to right, #f8f8f8, #f4f4f4);
	font-size: 16px;
    line-height: 26px;
	color: #3d3d3f; 
}
.wrapper {
    display: flex;
	flex-direction: column;
    min-height: 100%;
	overflow: hidden;
}
section {
    margin: 0px 135px;
}
h2 {
    margin-bottom: 16px;
    font-family: Mulish;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
    color: #FD695A;
}
h3 {
    font-family: Mulish;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 30px 30px;
    background-color: #FD695A;
    color: white;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}
/*#region-----HEADER-----*/
.header__container {
    margin: 41px 135px 0px 135px;
    min-height: 50px;
    display: flex;
    align-items: center;
    font-family: Manrope;
    font-weight: 600;
}
.header__logo {
    margin-right: 177px;
}
.header__menu__list {
    display: flex;
}
.menu__item {
    margin-right: 51px;
}
.menu__link {
    color: inherit;
}
.desktop__hidden {
    position: absolute;
    visibility: hidden;
}
.header__button {
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 50px;
    border-radius: 30px 30px 30px 30px;
    background-color: #FD695A;
    color: white;
}
/*#endregion*/
/*#region-----MAIN BLOCK-----*/
.main-block {
    margin-top: 117px;
}
h1 {
    font-family: Mulish;
    font-weight: 800;
    font-size: 70px;
    line-height: 94px;
    letter-spacing: 2px;
    max-width: 545px;
}
h1 span{
    color: #FD695A;
}
.main-block__container {
    margin-left: 130px;
}
.main-block__image {
    position: relative;
    z-index: 2;
    left: 492px;
    bottom: 42px;
    height: 100%;
    width: 100%;
}
.main-block__body {
    position: absolute;
    z-index: 3;
}
.main-block__text {
    margin: 53px 0px 64px 5px;
    font-family: Manrope;
    font-size: 21px;
    line-height: 34px;
    max-width: 464px;
}
.main-block__buttons {
    display: flex;
}
.main-block__solid-button {
    margin: 0px 38px 0px 5px;
    width: 162px;
    height: 59px;
}
.main-block__circled__button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.circled {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.05));
}
.triangle__button {
    margin-left: 3px;
    width: 0;
    height: 0;
    border-left: 20px solid #FD695A;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.circled__button__text {
    margin-left: 16px;
    font-family: Mulish;
    font-size: 18px;
    color: #FD695A;
}
/*#endregion*/
/*#region-----TRUSTED CLIENTS-----*/
.trusted__clients {
    margin-top: 59px;
}
.trusted__clients__container {
    display: flex;
    flex-direction: column;
}
.trusted__clients__title {
    margin-left: -27px;
    margin-bottom: 0px;
    align-self: center;
    text-transform: uppercase;
    font-family: Mulish;
    font-size: 18px;
    line-height: 23px;
    font-weight: 800;
    color: #3d3d3f;
}
.clients__list {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.clients__item {
    margin-right: 100px;
}
/*#endregion*/
/*#region-----WHAT WE DO-----*/
.what__we__do {
    margin-top: 120px;
    margin-bottom: -420px;
}
.what__we__do__body {
    margin-top: 31px;
    align-self: center;
    margin-right: 56px;
}
.what__we__do__header {
    margin-top: 230px;
}
.what__we__do__title {
    max-width: 504px;
}
.title_and_rocket__block img {
    position: relative;
    right: 105px;
    top: 27px;
}
.title_and_rocket__block {
    display: flex;
}
.what__we__do__text {
    margin-bottom: 28px;
    max-width: 507px;
    font-family: Mulish;
    font-weight: 600;
}
.what__we__do__button {
    width: 203px;
    height: 50px;
}
.what__we__do__cards {
    position: relative;
    top: -462px;
    left: 600px;
    display: grid;
    grid-template-columns: 269px 269px;
    grid-template-rows: 269px 269px;
    gap: 32px;
}
.card__block {
    padding: 32px 25px 29px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 6px 12px 0px rgba(44, 22, 84, 0.01);
}
.card__block img {
    margin-bottom: 17px;
}
.card__block__title {
    margin-bottom: 8px;
    font-family: Mulish;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.card__block__text {
    margin-bottom: 12px;
    font-family: DM Sans;
    font-size: 13.5px;
    font-weight: 400;
    line-height: 26px;
    color: #747474;
}
.card__block__link {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    color: #3D3D3F;
    text-decoration: underline;
}
/*#endregion*/
/*#region-----ABOUT US-----*/
.about__us {
    margin-top: 74px;
    margin-bottom: -527px;
}
.about__us__header {
    margin-top: 204px;
}
.about__us__title {
    max-width: 489px;
}
.about__us__body {
    margin-top: 15px;
}
.about__us__text {
    margin-top: 31px;
    margin-bottom: 28px;
    max-width: 507px;
    font-family: Mulish;
    font-weight: 600;
}
.about__us__button {
    width: 174px;
    height: 50px;
}
.about__us__image {
    position: relative;
    top:-527px;
    left: 571px;
}
/*#endregion*/





